body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.font-center {
  text-align: center;
}

a:link {
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: white;
}
a:active {
  color: blue;
}

/* yes */
