body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.font-center {
  text-align: center;
}

.font-validation {
  color: red;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-container {
  margin: auto;
}

.footer-column {
  width: 25%;
  padding: 0 15px;
}

.scroll-button {
  height: 75px;
  float: right;
  padding-bottom: 40px;
}

.copyright-section {
  background-color: bisque;
}

.error-img {
  width: 600px;
  padding-top: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#icons {
  text-align: right;
  zoom: 7;
}

#underline {
  text-decoration: underline;
}
